<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      APP DE PRIMEROS AUXILIOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>

      <ion-card-title>ALUMNO: Suarez Jose Antonio</ion-card-title>
      <ion-card-subtitle>DIRECCION: provincias unidas 888</ion-card-subtitle>
      <ion-card-subtitle>CURSO: cuarto primera turno tarde</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-label>PADRES</ion-label>
        <ion-item>MADRE: Maria Miranda</ion-item>
        <ion-item>PADRE: Roberto Messi</ion-item>
        <ion-item>TUTOR: Daniel Scaloni</ion-item>
        <ion-item>PRECEPTOR: Dibu Martinez</ion-item>
        <ion-label>SALUD</ion-label>
        <ion-item>TIPO DE SANGRE: 0+</ion-item>
        <ion-item>ALERGIAS: tareas en casa</ion-item>
        <ion-item>TRATAMIENTOS MEDICOS: ninguno</ion-item>
        
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
